{% extends 'base/index.html' %}
{% load base_tool %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

{% block navbar %}
    <!-- Header -->
	<header class="page-header sticky">
		<!-- Fixed navbar -->
		<nav class="navbar" id="slide-nav">
			<div class="container">
				<div class="navbar-header">
					<div class="header-top">
						<div class="row">
							<div class="col-sm-4">
								<div class="social-links">
									<ul>
										<li>
											<a class="icon icon-twitter" href="#"></a>
										</li>
										<li>
											<a class="icon icon-facebook" href="#"></a>
										</li>
										<li>
											<a class="icon icon-instagram" href="#"></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4 text-center">
								<div class="logo">
									<a href="index.html"><img src="{% static 'images/logo_ariston.gif' %}" alt="Logo">
										<span><img src="{% static 'images/logo_ariston.gif' %}" alt=""></span></a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="phone">
									<div class="number"><i class="icon icon-telephone"></i><span> +994(50) 300-08-19 <br/> +994(12) 408-40-60</span></div>
									<div class="under-number">Bizimlə əlaqə</div>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="navbar-toggle"><i class="icon icon-interface icon-menu"></i><i class="icon icon-cancel"></i></button>
				</div>
				<div id="slidemenu" data-hover="dropdown" data-animations="fadeIn">
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html"><span class="electric-btn"><span class="text">Ana səyfə</span></span></a></li>

						<!-- DROPDOWN MENYU SERVISLER -->

						<!-- <li class="dropdown"><a href="services.html" data-toggle="dropdown" data-submenu=""><span class="electric-btn"><span class="text">Services</span></span><span class="ecaret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li class="dropdown-submenu"> <a href="service-commercial.html">Commercial <span class="ecaret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="service-page-1.html">Electrical Repairs</a></li>
										<li><a href="service-page-2.html">Panel Upgrades</a></li>
										<li><a href="service-page-3.html">Lighting Upgrades</a></li>
										<li><a href="service-page-4.html">Surge Protection</a></li>
										<li><a href="service-page-5.html">Generator Repair</a></li>
										<li><a href="service-page-6.html">Install a Ceiling Fan</a></li>
										<li><a href="service-page-7.html">Outdoor and Motion Lighting</a></li>
										<li><a href="service-page-8.html">Digital Thermostat Installation</a></li>
										<li><a href="service-page-9.html">Baseboard Heating Installation</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu"> <a href="service-industrial.html">Industrial<span class="ecaret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="service-page-1.html">Electrical Repairs</a></li>
										<li><a href="service-page-2.html">Panel Upgrades</a></li>
										<li><a href="service-page-3.html">Lighting Upgrades</a></li>
										<li><a href="service-page-4.html">Surge Protection</a></li>
										<li><a href="service-page-5.html">Generator Repair</a></li>
										<li><a href="service-page-6.html">Install a Ceiling Fan</a></li>
										<li><a href="service-page-7.html">Outdoor and Motion Lighting</a></li>
										<li><a href="service-page-8.html">Digital Thermostat Installation</a></li>
										<li><a href="service-page-9.html">Baseboard Heating Installation</a></li>
									</ul>
								</li>
								<li><a href="service-residential.html">Residential</a></li>
							</ul>
						</li> -->

						<li><a href="haqqimizda.html"><span class="electric-btn"><span class="text">Haqqımızda</span></span></a>
						</li>

						<!-- DROPDOWN menyu blog  -->

						<!-- <li class="dropdown"><a href="blog.html" data-toggle="dropdown" data-submenu=""><span class="electric-btn"><span class="text">Blog</span></span><span class="ecaret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="blog.html">Blog Classic</a></li>
								<li><a href="blog-card.html">Blog Post Card</a></li>
								<li><a href="blog-single.html">Blog Single post</a></li>
							</ul>
						</li> -->


						<li><a href="mehsullar.html"><span class="electric-btn"><span class="text">Məhsullar</span></span></a>
						</li>
						<li><a href="elaqe.html"><span class="electric-btn"><span class="text">Əlaqlə</span></span></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- // Header -->
{% endblock %}
{% block container %}
     <!-- Content  -->
	<div id="page-content">
		<!-- Slider -->
		<div class="slider-wrapper theme-default">
			<div id="slider" class="nivoSlider">
                {% if slider %}
                    {% for img in slider %}
                    <img src="{{ img.image|get_image_path }}" title="#htmlcaption{{ forloop.counter }}" data-thumb="{{ img.image|get_image_path }}" alt="{{ img.name }}" />
                    {% endfor %}
                {% endif %}
            </div>
            {% if slider %}
                {% for img in slider %}
			        <div id="htmlcaption{{ forloop.counter }}" class="nivo-caption">
                    <div class="vert-wrapper">
                        <div class="vert">
                            <div class="text text1">{{ img.title }}</div>
                            <div class="text text2 margin-bottom">{{ img.text }}</div>
                        </div>
                    </div>
			        </div>
			    {% endfor %}
            {% endif %}
		</div>
		<!-- Slider -->
		<!-- Request Block -->
		<div class="block block-negative">
			<div class="container">
				<div class="request-form">
					<h4>Request Service Today</h4>
					<div class="inside">
						<div id="requestSuccess">
							<p>Your message was sent successfully!</p>
						</div>
						<div id="requestError">
							<p>Something went wrong, try refreshing and submitting the form again.</p>
						</div>
						<form id="requestform" name="requestform" method="post" novalidate>
							<div class="input-wrapper">
								<input class="input-custom input-full" name="name" type="text" placeholder="First & Last Name:" />
							</div>
							<div class="input-wrapper">
								<input class="input-custom input-full" name="email" type="text" placeholder="Email Address:" />
							</div>
							<div class="input-wrapper">
								<input class="input-custom input-full" name="phone" type="text" placeholder="Phone Number:" />
							</div>
							<button type="submit" id="submit" class="btn"><i class="icon icon-lightning"></i><span>Get Service</span></button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- //Request Block -->
		<!-- About Block -->
		<div class="block">
			<div class="container">

				<!-- CONTAİNER -->
			</div>
		</div>
		<!-- //About Block -->
		<!-- Skew Category Block -->
		<div class="block">
			<div class="skew-wrapper category-carousel light-arrow">
				<div class="container">
					<div class="skew"> <span class="straight-image" style="background-image: url(images/category-img-1.jpg);"></span> <span class="straight"><span class="title">Commercial</span> <a class="btn btn-sm" href="service-commercial.html"><span>More info</span></a> </span>
					</div>
					<div class="skew"> <span class="straight-image" style="background-image: url(images/category-img-2.jpg);"></span> <span class="straight"><span class="title">Industrial</span> <a class="btn btn-sm" href="service-industrial.html"><span>More info</span></a> </span>
					</div>
					<div class="skew"> <span class="straight-image" style="background-image: url(images/category-img-3.jpg);"></span> <span class="straight"><span class="title">Residential</span> <a class="btn btn-sm" href="service-residential.html"><span>More info</span></a> </span>
					</div>
				</div>
			</div>
		</div>
		<!-- //Skew Category Block -->
		<!-- Services Block -->
		<div class="block bottom-sm">
			<!-- <div class="container">
				<h2 class="text-center">Our <b>Services</b></h2>
				<h4 class="text-center subtitle"><i class="icon icon-telephone"></i>1 (800) 765-43-21</h4>
				<p class="font24 text-center">Never hesitate when it comes to potential electrical problems. Electrical issues can quickly develop into major catastrophes. </p>
				<div class="row text-icon-carousel">
					<div class="col-sm-4">
						<div class="text-icon">
							<div class="text-icon-icon"><span><i class="icon icon-light"></i><span class="icon-hover"></span></span>
							</div>
							<h5 class="text-icon-title">Electrical</h5>
							<div class="text-icon-text">Wiring, Remodels and Additions, Heat detectors</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="text-icon">
							<div class="text-icon-icon"><span><i class="icon icon-tool"></i><span class="icon-hover"></span></span>
							</div>
							<h5 class="text-icon-title">Heating</h5>
							<div class="text-icon-text">Trust our professionals to listen to your needs and problems</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="text-icon">
							<div class="text-icon-icon"><span><i class="icon icon-air-conditioner"></i><span class="icon-hover"></span></span>
							</div>
							<h5 class="text-icon-title">Air Conditioning</h5>
							<div class="text-icon-text">Then present you with options that fit your budget and designs</div>
						</div>
					</div>
					<div class="clearfix hidden-xs"></div>
					<div class="col-sm-4">
						<div class="text-icon">
							<div class="text-icon-icon"><span><i class="icon icon-security-camera"></i><span class="icon-hover"></span></span>
							</div>
							<h5 class="text-icon-title">Security Systems</h5>
							<div class="text-icon-text">You can view events over a monitor in our home</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="text-icon">
							<div class="text-icon-icon"><span><i class="icon icon-computer"></i><span class="icon-hover"></span></span>
							</div>
							<h5 class="text-icon-title">Panels Changes</h5>
							<div class="text-icon-text">Prices that meet your needs and budget</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="text-icon">
							<div class="text-icon-icon"><span><i class="icon icon-screwdriver"></i><span class="icon-hover"></span></span>
							</div>
							<h5 class="text-icon-title">Trouble Shooting</h5>
							<div class="text-icon-text">We think before we start working to save you money</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
		<!-- //Services Block -->
		<!-- Question Block -->
		<div class="block bg-dark pad-sm">
			<div class="container">
				<div class="text-center">
					<h3><span class="light">Do you need help with</span> <b>electrical maintenance?</b></h3>
					<p class="font24">Contact us – our technicians are ready to help you solve that issue.</p>
					<div class="btn-inline"><a class="btn" href="contact.html"><i class="icon icon-telephone"></i><span>Give Us A Call</span></a>
						<div class="form-popup-wrap">
							<a class="btn btn-invert form-popup-link" href="#"><i class="icon icon-lightning"></i><span>Request A Free Estimate</span></a>
							<div class="form-popup">
								<div class="request-form-popup">
									<h3 class="text-center">Request a Free Estimate</h3>
									<p class="font24 text-center">To request a free estimate please contact our office at 1 (800) 765-43-21 or fill out the form below</p>
									<form class="request-form-popup" id="requestformPopup" method="post" novalidate>
										<div class="successform text-center" id="requestSuccessPopup">
											<p>Your message was sent successfully!</p>
										</div>
										<div class="errorform text-center" id="requestErrorPopup">
											<p>Something went wrong, try refreshing and submitting the form again.</p>
										</div>
										<input type="text" placeholder="Your Name" name="name" class="input-full">
										<div class="clearfix">
											<div class="input-half pull-left">
												<input type="text" placeholder="Your e-mail" name="email">
											</div>
											<div class="input-half pull-right">
												<input type="text" placeholder="Your Phone" name="phone">
											</div>
										</div>
										<div class="clearfix">
											<div class="input-half pull-left">
												<div class="select-wrapper">
													<select name="city">
														<option selected disabled>YOUR CITY</option>
														<option value="Glasgow">Glasgow</option>
														<option value="Dundee">Dundee</option>
														<option value="	East Kilbride"> East Kilbride</option>
														<option value="Edinburgh">Edinburgh</option>
														<option value="Aberdeen">Aberdeen</option>
													</select>
												</div>
											</div>
											<div class="input-half pull-right">
												<input type="text" placeholder="Your Address" name="address">
											</div>
										</div>
										<div class="clearfix">
											<div class="input-half pull-left">
												<div class="datetimepicker-wrap">
													<input type="text" name="date" class="datetimepicker" placeholder="Preferred Date">
												</div>
											</div>
											<div class="input-half pull-right">
												<div class="select-wrapper">
													<select name="time">
														<option selected disabled>Time</option>
														<option value="10">10:00</option>
														<option value="11">11:00</option>
														<option value="12">12:00</option>
														<option value="13">13:00</option>
														<option value="14">14:00</option>
														<option value="15">15:00</option>
													</select>
												</div>
											</div>
										</div>
										<textarea placeholder="Service & Repair Description" name="message" class="input-full"></textarea>
										<div class="text-center">
											<button type="submit" class="btn btn-lg btn-border"><i class="icon icon-lightning"></i><span>Submit Form</span></button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //Question Block -->
		<!-- Switch Block -->
		<div class="block">
			<div class="container">
				<div class="row bulb-carousel top-negative">
					<div class="col-sm-4">
						<div class="bulb-block">
							<div class="bulb">
								<div class="bulb-img"><img src="images/bulb-img-1.jpg" alt=""></div>
								<div class="bulb-mask"><img src="images/bulbmask.png" alt=""></div>
							</div>
							<h5 class="bulb-block-title">Switch ON
								<br> Higher <b>Standards</b></h5>
							<div class="bulb-block-text">for quality work and safety</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="bulb-block">
							<div class="bulb">
								<div class="bulb-img"><img src="images/bulb-img-2.jpg" alt=""></div>
								<div class="bulb-mask"><img src="images/bulbmask.png" alt=""></div>
							</div>
							<h5 class="bulb-block-title">Switch ON
								<br> Better <b>Solutions</b></h5>
							<div class="bulb-block-text">for design and energy saving</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="bulb-block">
							<div class="bulb">
								<div class="bulb-img"><img src="images/bulb-img-3.jpg" alt=""></div>
								<div class="bulb-mask"><img src="images/bulbmask.png" alt=""></div>
							</div>
							<h5 class="bulb-block-title">Switch ON
								<br> Personal <b>Commitment</b></h5>
							<div class="bulb-block-text">for your comfort and security</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //Switch Block -->
		<!-- Testimonials Block -->
		<div class="block bg-1 bottom-sm">
			<div class="container">
				<div class="testimonials">
					<h2 class="text-center">Our Testimonials</h2>
					<div class="testimonials-carousel light-arrow">
						<div class="testimonials-item">
							<div class="testimonials-text">I love my new heaters. I should have done this years ago. The installation was done professionally and in the time frame allotted. It was a great experience. </div>
							<div class="testimonials-username">Eldon C. Caron</div>
						</div>
						<div class="testimonials-item">
							<div class="testimonials-text">Great service. They really helped me out when my heater went out. They made the service and payment very convenient for me. I highly recommend this company.</div>
							<div class="testimonials-username">Paul Grant</div>
						</div>
						<div class="testimonials-item">
							<div class="testimonials-text">I love my new heaters. I should have done this years ago. The installation was done professionally and in the time frame allotted. It was a great experience. </div>
							<div class="testimonials-username">Eldon C. Caron</div>
						</div>
						<div class="testimonials-item">
							<div class="testimonials-text">Great service. They really helped me out when my heater went out. They made the service and payment very convenient for me. I highly recommend this company.</div>
							<div class="testimonials-username">Paul Grant</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //Testimonials Block -->
		<!-- News Block -->



		<!-- <div class="block bottom-sm">
			<div class="container">
				<h2 class="text-center">What’s <b>New</b></h2>
				<div class="divider divider-md"></div>
				<div class="row">
					<div class="col-md-6">
						<div class="news-preview">
							<div class="news-preview-image"><img src="images/news-img-1.jpg" alt=""></div>
							<div class="news-preview-text">
								<div class="news-preview-date">May 1, 2017</div>
								<h4 class="news-preview-title">Solar Cells With Nanostripes</h4>
								<div class="news-preview-teaser">May 2, 2017 — Solar cells based on perovskites reach high efficiencies: they convert more than 20 percent of the incident light directly into usable power.</div>
								<a href="blog-single.html" class="news-preview-link">Read more</a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="news-preview">
							<div class="news-preview-image"><img src="images/news-img-2.jpg" alt=""></div>
							<div class="news-preview-text">
								<div class="news-preview-date">May 1, 2017</div>
								<h4 class="news-preview-title">A Glow Stick That Detects Cancer?</h4>
								<div class="news-preview-teaser">A new mechanism produces a water- resistant chemiluminescent probe that is 3,000-times-brighter than those currently...</div>
								<a href="blog-single.html" class="news-preview-link">Read more</a>
							</div>
						</div>
					</div>
				</div>
				<div class="divider divider-lg"></div>
				<div class="brands-carousel-row">
					<div class="brands-carousel-title">
						<h2>Trusted <b>By</b></h2></div>
					<div class="brands-carousel-wrap">
						<ul class="brands-carousel">
							<li>
								<a href="#"><img src="images/brand-02.png" alt=""></a>
							</li>
							<li>
								<a href="#"><img src="images/brand-03.png" alt=""></a>
							</li>
							<li>
								<a href="#"><img src="images/brand-04.png" alt=""></a>
							</li>
							<li>
								<a href="#"><img src="images/brand-05.png" alt=""></a>
							</li>
							<li>
								<a href="#"><img src="images/brand-06.png" alt=""></a>
							</li>
							<li>
								<a href="#"><img src="images/brand-07.png" alt=""></a>
							</li>
							<li>
								<a href="#"><img src="images/brand-01.png" alt=""></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div> -->
		<!-- //News Block -->
	</div>
	<!-- // Content  -->
 {% endblock %}
 {% block footer %}
  <!-- Footer -->
    <div class="page-footer">
        <div class="back-to-top hidden-xs"><a href="#top"><span class="icon icon-lightning"></span></a></div>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">24/Hour Emergency Service</div>
                    <div class="col-sm-1 hidden-xs">&nbsp;</div>
                    <div class="col-sm-3">Free Consultations</div>
                    <div class="col-sm-1 hidden-xs">&nbsp;</div>
                    <div class="col-sm-3">1 (800) 765-43-21</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row footer-row">
                <div class="col-sm-3 col-lg-3">
                    <div class="logo">
                        <a href="index.html"><img src="images/logo-invert.png" alt="Logo"></a>
                    </div>
                    <div class="hidden-xs">
                        <div class="copyright">© 2016 Electrical Services.
                            <br> All Rights Reserved</div>
                        <div class="social-links">
                            <ul>
                                <li>
                                    <a class="icon icon-twitter" href="#"></a>
                                </li>
                                <li>
                                    <a class="icon icon-facebook" href="#"></a>
                                </li>
                                <li>
                                    <a class="icon icon-instagram" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <ul class="contact-list">
                        <li><span class="list-label"><b>T</b>elefon:  </span> <span class="text">+994(12) 408-09-22</span></li>
                        <li><span class="list-label"><b>E</b>-ünvan:</span> <span class="text"><a href="mailto:savalaninshaat@gmail.com">savalaninshaat@gmail.com</a></span></li>
                        <li><span class="list-label"><b>Ü</b>nvan:</span> <span class="text">8494 Signal Hill Road Manassas,<br> VA, 20110</span></li>
                        <li>Mon-Fri <b>08:00</b> AM - <b>05:00</b> PM, Sat-Sun</li>
                    </ul>
                </div>
                <div class="col-sm-5">
                    <div id="footer-map"></div>
                </div>
                <div class="visible-xs text-center">
                    <div class="copyright">© 2017 Ariston Servizi.
                        <br> All Rights Reserved</div>
                    <div class="social-links">
                        <ul>
                            <li>
                                <a class="icon icon-twitter" href="#"></a>
                            </li>
                            <li>
                                <a class="icon icon-facebook" href="#"></a>
                            </li>
                            <li>
                                <a class="icon icon-instagram" href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //Footer -->
 {% endblock %}




