@font-face {
  font-family: 'Electrician';
  src:  url('fonts/Electrician5334.eot?5oawey');
  src:  url('fonts/Electrician5334.eot?5oawey#iefix') format('embedded-opentype'),
    url('fonts/Electrician5334.ttf?5oawey') format('truetype'),
    url('fonts/Electrician5334.woff?5oawey') format('woff'),
    url('fonts/Electrician5334.svg?5oawey#Electrician') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Electrician' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e928";
}
.icon-print:before {
  content: "\e927";
}
.icon-arrow_right:before {
  content: "\e91a";
}
.icon-arrow_left:before {
  content: "\e91b";
}
.icon-speech:before {
  content: "\e919";
}
.icon-cancel:before {
  content: "\e918";
}
.icon-shop-cart:before {
  content: "\e91c";
}
.icon-arrowhead:before {
  content: "\e91d";
}
.icon-star-black:before {
  content: "\e91e";
}
.icon-bin-delete:before {
  content: "\e91f";
}
.icon-calc:before {
  content: "\e920";
}
.icon-people:before {
  content: "\e921";
}
.icon-price-tag:before {
  content: "\e922";
}
.icon-transport:before {
  content: "\e923";
}
.icon-24-hours:before {
  content: "\e924";
}
.icon-technology1:before {
  content: "\e925";
}
.icon-clock:before {
  content: "\e926";
}
.icon-arrow-left:before {
  content: "\e916";
}
.icon-arrow-right:before {
  content: "\e917";
}
.icon-light:before {
  content: "\e900";
}
.icon-air-conditioner:before {
  content: "\e901";
}
.icon-security-camera:before {
  content: "\e902";
}
.icon-tool:before {
  content: "\e903";
}
.icon-screwdriver:before {
  content: "\e904";
}
.icon-computer:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e906";
}
.icon-circle:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-favorite:before {
  content: "\e909";
}
.icon-google-plus:before {
  content: "\e90a";
}
.icon-instagram:before {
  content: "\e90b";
}
.icon-interface:before {
  content: "\e90c";
}
.icon-left-quote:before {
  content: "\e90d";
}
.icon-lightning:before {
  content: "\e90e";
}
.icon-linkedin:before {
  content: "\e90f";
}
.icon-map-marker:before {
  content: "\e910";
}
.icon-right-quote-sign:before {
  content: "\e911";
}
.icon-technology:before {
  content: "\e912";
}
.icon-telephone:before {
  content: "\e913";
}
.icon-tumblr:before {
  content: "\e914";
}
.icon-twitter:before {
  content: "\e915";
}
