{% load base_tool %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="ariston.az">
	<meta name="author" content="Munis Isazade">
	<link rel="icon" href="favicon.ico">
    <title>{% block title %} Ariston.az {% trans 'Ana səhifə' %} {% endblock %}</title>
    <!-- Bootstrap core CSS -->
	<link href="{% static 'css/plugins/bootstrap.min.css' %}" rel="stylesheet">
{% comment %}
	<link href="{% static 'css/plugins/bootstrap-submenu.css' %}" rel="stylesheet">
	<link href="{% static 'css/plugins/bootstrap-datetimepicker.css' %}" rel="stylesheet">
	<link href="{% static 'css/plugins/animate.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/plugins/nivo-slider.css' %}" rel="stylesheet">
	<link href="{% static 'css/plugins/slick.css' %}" rel="stylesheet">
	<link href="{% static 'css/plugins/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">
	<!-- Icon Font-->
	<link href="{% static 'iconfont/style.css' %}" rel="stylesheet">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<!-- Google map -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
{% endcomment %}

</head>
<body>
{% comment %}{% block loading %}
    <!-- Loader -->
	<div id="loader-wrapper" class="loader-on">
		<div id="loader">
			<div class="loader">
				<div class="bolt one">
					<div class="other"></div>
				</div>
				<div class="bolt two">
					<div class="other"></div>
				</div>
				<div class="bolt three">
					<div class="other"></div>
				</div>loading
			</div>
		</div>
	</div>
	<!-- //Loader -->
{% endblock %}{% endcomment %}
{% block navbar %}
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">Ariston.az</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'index' %}">{% trans 'Ana səhifə' %}</a></li>
        <li><a href="{% url 'index' %}">{% trans 'Əlaqə' %}</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ LANGUAGE_CODE }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
              {% for lang in LANGUAGES %}
                <li><a href="/{{ lang.0 }}/">{{ lang.1 }}</a></li>
              {% endfor %}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}
{% block container %}
    <div class="container">
  <h2>Ariston {% trans 'Slayder' %}</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% if slider %}
        {% for img in slider %}
          <div class="item {% if forloop.first %}active{% endif %}">
            <img src="{{ img.image|get_image_path }}" alt="{{ img.name }}" style="width:100%;">
          </div>
        {% endfor %}
    {% endif %}
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
    <h1>{% trans 'Məhsul seçimi' %}</h1>
    <div class="item-group">
        <div class="row">
        {% if products %}
        {% for news in products %}
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="{{ news.cover_picture|get_image_path }}" alt="{{ news.title }}">
            </a>
            <div class="text">
                <p>{{ news.title }}</p>
            </div>
          </div>
        {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
    <br>
    <br>
{% endblock %}
{% block footer %}
 <nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="text-center" style="padding-top: 15px;">Copyright {% now 'Y' %} <a href="https://www.facebook.com/munis.isazade">Munis Isazade</a></p>
  </div>
</nav>
{% endblock %}
{% comment %}{% block footer-script %}
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/plugins/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/plugins/jquery.nivo.slider.js' %}"></script>
	<script src="{% static 'js/plugins/slick.min.js' %}"></script>
	<script src="{% static 'js/plugins/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/plugins/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'js/plugins/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'js/plugins/moment.min.js' %}"></script>
	<script src="{% static 'js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
	<script src="{% static 'js/plugins/jquery.form.js' %}"></script>
	<script src="{% static 'js/plugins/jquery.validate.min.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
{% endblock %}{% endcomment %}
</body>
</html>